@model OlympicViewModel

@{
    ViewData["Title"] = "Olympic Games";
   
}

<div class="row">
    <div class="col-md-3">
        <h3 class="mt-3">Division</h3>
        <div class="list-group">
            <a asp-controller="Olympic" 
                asp-action="Index" 
                asp-route-activeDivision="all"
                asp-route-activeSport="@Model.ActiveSport"
                class="list-group-item @Model.CheckActiveDivision("all")">All
            </a>

            @foreach (Division division in Model.Divisions)
            {
                <a asp-controller="Olympic" 
                    asp-action="Index"
                    asp-route-activeDivision="@division.DivisionID"
                    asp-route-activeSport="@Model.ActiveSport"
                    class="list-group-item @Model.CheckActiveDivision(division.DivisionID)">@division.Name</a>                    
            }
        </div><!--end Olympic Division-->

        <h3 class="mt-3">Sport</h3>
        <div class="list-group">
            <a asp-controller="Olympic"
               asp-action="Index"
               asp-route-activeSport="all"
               asp-route-activeSport="@Model.ActiveDivision"
               class="list-group-item @Model.CheckActiveSport("all")">All
           </a>

            @foreach (Sport sport in Model.Sports)
            {
                <a asp-controller="Olympic"
                   asp-action="Index"
                   asp-route-activeSport="@sport.SportID"
                   asp-route-activeDivision="@Model.ActiveDivision"
                   class="list-group-item @Model.CheckActiveSport(sport.SportID)">@sport.Name</a>
            }
        </div><!--end Sport Division-->
    </div><!--end col-md-3-->

    <div class="col-md-9">
        <ul class="list-inline">
            @foreach (Country country in Model.Countries)
            {
                <li class="list-inline-item">
                    <img src="~/images/flags/@country.LogoImage" alt="@country.Name" title="@country.Name |
                    @country.Division.Name @country.Sport.Name"/>
                        
                </li> 
            }
        </ul>
    </div>

</div><!--end main div-->

