@model IEnumerable<Country>

@{
    ViewData["Title"] = "Olympic Games";
    string Active(string filter, string selected)
    {
        return (filter.ToLower() == selected.ToLower()) ? "active" : "";
    }
}

<div class="row">
    <div class="col-md-3">
        <h3 class="mt-3">Division</h3>
        <div class="list-group">
            <a asp-controller="Olympic" 
                asp-action="index" 
                asp-route-activeDivision="all"
                asp-route-activeSport="@ViewBag.ActiveSport"></a>

            @foreach (Division division in ViewBag.Divisions)
            {
                <a asp-controller="Olympic" 
                    asp-action="Index"
                    asp-route-activeDivision="@division.DivisionID"
                    asp-route-activeSport="@ViewBag.ActiveSport"
                    class="list-group-item @Active(division.DivisionID, ViewBag.ActiveDivision)">@division.Name</a>                    
            }
        </div><!--end Olympic Division-->

        <h3 class="mt-3">Sport</h3>
        <div class="list-group">
            <a asp-controller="Olympic"
               asp-action="index"
               asp-route-activeSport="all"
               asp-route-activeDivision="@ViewBag.ActiveDivision"></a>

            @foreach (Sport sport in ViewBag.Sports)
            {
                <a asp-controller="Olympic"
                   asp-action="Index"
                   asp-route-activeSport="@sport.SportID"
                   asp-route-activeDivision="@ViewBag.ActiveDivision"
                   class="list-group-item @Active(sport.SportID, ViewBag.ActiveSport)">@sport.Name</a>
            }
        </div><!--end Sport Division-->
    </div><!--end col-md-3-->

    <div class="col-md-9">
        <ul class="list-inline">
            @foreach (Country country in Model)
            {
                <li class="list-inline-item">
                    <img src="~/images/flags/@country.LogoImage" alt="@country.Name" title="@country.Name |
                    @country.Division.Name @country.Sport.Name"/>
                        
                </li> 
            }
        </ul>
    </div>

</div><!--end main div-->

